<div class="">
  <div class="mb-4">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="text-center text-secondary fs-24 fw-500">
        <span class="">Welcome Back To Bonfire 👋🏻</span>
      </div>
      <div class="text-center text-secondary2">
        <span class="fs-400 fw-14"
          >Please sign-in to your account and start the adventure</span
        >
      </div>
    </div>
  </div>
  <div class="mb-4">
    <div
      class="d-flex justify-content-center py-2 mb-3 bg-primary2 rounded text-light opacity-75"
      [ngClass]="showError.show ? '' : 'd-none'"
    >
      {{ showError.message }}
    </div>
    <form class="row" [formGroup]="loginForm" (ngSubmit)="loginByEmail()">
      <div class="col-12">
        <div class="mb-3">
          <input
            type="email"
            formControlName="email"
            class="form-control rounded"
            placeholder="Email "
            (keypress)="hideError()"
          />
          <small
            class="text-danger p4 m-0 p-0"
            *ngIf="
              (loginForm.get('email')?.touched || submitted) &&
              loginForm.get('email')?.errors
            "
          >
            Enter Valid Email l example@email.com
          </small>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <input
            type="password"
            class="form-control rounded"
            formControlName="password"
            placeholder="password"
            (keypress)="hideError()"
          />
          <small
            class="text-danger p4 m-0 p-0"
            *ngIf="
              (loginForm.get('password')?.touched || submitted) &&
              loginForm.get('password')?.errors
            "
          >
            password must contain 6 characters *
          </small>
        </div>
      </div>
      <div class="col-12">
        <button
          class="btn bg-primary py-2 mt-3 fs-16 fw-400 text-light w-100 rounded-3"
          [disabled]="preLoder"
        >
          <span [ngClass]="preLoder ? 'd-none' : 'd-block'">Login</span>
          <span
            class="d-flex justify-content-center my-1"
            [ngClass]="preLoder ? '' : 'd-none'"
          >
            <div class="spinner-grow spinner-grow-sm text-success mx-2"></div>
            <div class="spinner-grow spinner-grow-sm text-secondary mx-2"></div>
            <div class="spinner-grow spinner-grow-sm text-warning mx-2"></div>
          </span>
        </button>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-center fs-24 fw-600">
    <span>or</span>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <div class="me-2 brandSize pointer" (click)="loginWithFacebook()">
      <img class="w-100 h-100" src="../../../assets/Facebook.svg" />
    </div>
    <!-- <div class="me-2 brandSize pointer">
      <img class="w-100 h-100" src="../../../assets/Twitter.svg" />
    </div>
    <div class="me-2 brandSize pointer">
      <img class="w-100 h-100" src="../../../assets/Mail.svg" />
    </div> -->
  </div>
</div>

<div [ngClass]="preLoder ? 'd-block' : 'd-none'" class="overlay"></div>
