<div class="">
  <div class="mb-4">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="text-center text-secondary fs-24 fw-500">
        <span class="">Welcome Back To Bonfire 👋🏻</span>
      </div>
      <div class="text-center text-secondary2">
        <span class="fs-400 fw-14"
          >Please sign-in to your account and start the adventure</span
        >
      </div>
    </div>
  </div>
  <div class="mb-4">
    <form class="row">
      <div class="col-12">
        <div class="mb-3">
          <input
            type="email"
            class="form-control rounded"
            placeholder="Email "
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <input
            type="password"
            class="form-control rounded"
            placeholder="password"
          />
        </div>
      </div>
      <div class="col-12">
        <button
          class="btn bg-primary2 py-2 mt-3 fs-16 fw-400 text-light w-100 rounded-3"
        >
          Login
        </button>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-center fs-24 fw-600">
    <span>or</span>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <div class="me-2 brandSize">
      <img class="w-100 h-100" src="../../../assets/Facebook.svg" />
    </div>
    <div class="me-2 brandSize">
      <img class="w-100 h-100" src="../../../assets/Twitter.svg" />
    </div>
    <div class="me-2 brandSize">
      <img class="w-100 h-100" src="../../../assets/Mail.svg" />
    </div>
  </div>
</div>
