@import '../../../styles/main';

.nav_bar {

    .location_btn {
        max-height: 80px;
        overflow: hidden;
    }

    .rightSide {
        .login_btn {
            border-radius: 30px;
            padding: 15px 15px;
        }

        .cart_btn {
            border-radius: 30px;
            padding: 15px 15px;
        }

        .menu_btn {
            display: none;
        }
    }
}

.overlay {
    inset: 0;
    background-color: black;
    overflow: hidden;
    opacity: 0.2;

}





.form-check-input:focus {
    box-shadow: none;
}



// called in media-queries.scss

@mixin banner--sm() {
    .rightSide {
        .login_btn {
            border-radius: 50%;
            padding: 10px 15px !important;

            span {
                display: none;
            }
        }

        .cart_btn {
            border-radius: 50%;
            padding: 10px 10px !important;

            .text {
                display: none;
            }
        }
    }
}

@mixin banner--md() {}

@mixin banner--xs() {

    .location_btn {
        max-height: 80px;
        overflow: hidden;
        width: 180px;
        background-color: transparent !important;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis !important;

        .locationLogo {
            display: none;
        }
    }

    .login_btn {
        display: none !important;
    }

    .cart_btn {
        display: none !important;
    }

    .menu_btn {
        background-color: $secondaryColor2;
        display: block !important;
        border-radius: 50%;

        padding: 10px 15px !important;
    }

    .cart_nav {

        width: 100vw;
        position: fixed;
        bottom: 0;
        z-index: 300;
        // background-color: red;
    }


}

// small screen size (sm)

@media (max-width: 1000px) {
    @include banner--sm();
}

// medium screen size (md)

@media (min-width: 1000px) {
    @include banner--md();
}

@media (max-width: 500px) {
    @include banner--xs();
}



::ng-deep {

    .modal-content {
        background: none !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
        backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%) !important;
        -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);

    }

}








.activeOrderType {
    background-color: $primaryColor2;
    color: $whiteColor
}