$background-primary: #E9F0FE;
$background-light: #FFFFFF;

$primaryColor: #FFA500;
$primaryColor2: #EF3706;
$secondaryColor: #220000;
$secondaryColor2: #7B6666;
$whiteColor: #ffffff;
$otherColor: #E9F0FE;





/** Font Sizes **/
$fs-80: clamp(70px, 3vw, 80px);
$fs-72: clamp(62px, 3vw, 72px);
$fs-56: clamp(46px, 3vw, 56px);
$fs-42: clamp(32px, 3vw, 42px);
$fs-32: clamp(28px, 3vw, 32px);
$fs-28: clamp(24px, 3vw, 28px);
$fs-24: clamp(22px, 3vw, 24px);
$fs-22: clamp(20px, 3vw, 22px);
$fs-20: clamp(18px, 3vw, 20px);
$fs-18: clamp(16px, 3vw, 18px);
$fs-16: clamp(15px, 3vw, 16px);
$fs-15: clamp(14px, 3vw, 15px);
$fs-14: clamp(14px, 3vw, 14px);
$fs-13: clamp(13px, 3vw, 13px);
$fs-12: clamp(12px, 3vw, 12px);
$fs-10: clamp(10px, 3vw, 10px);

/** Font Weights **/
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;