<div class="">
  <div class="card rounded-25 glassEffect1">
    <div class="card-header bg-transparent d-flex flex-column justify-content-center align-items-center">
      <div class="">
        <img class="img-fluid rounded-circle" [src]="logoImg" width="90px" height="90px" alt="logo" />
      </div>
      <span class="text-center">{{ restaurantDetail?.address }}</span>
      <span>Tel # {{ restaurantDetail?.contact_number }}</span>
    </div>
    <div class="card-body">
      <table class="table table-borderless">
        <thead>
          <tr class="fs-16 fw-600">
            <th scope="col">#</th>
            <th scope="col">Items</th>
            <th scope="col" class="text-center">Qyt</th>
            <th class="text-end" scope="col">SubTotal</th>
          </tr>
        </thead>
        <tbody>
          <tr class="fs-14 fw-500" *ngFor="let item of cartData; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <div class="d-flex flex-column">
                <span>
                  <div class="bold-lg lh-6 p2">
                    {{ item.menu_name }}
                    <ng-container *ngIf="
                        item.order_detail_choice?.length > 0;
                        then showName;
                        else notShowName
                      "></ng-container>
                    <ng-template #showName>({{ item.variation_name }})
                    </ng-template>
                    <ng-template #notShowName>
                      <ng-container *ngIf="
                          item.menu_variation_id === null;
                          then choice2;
                          else choice1
                        ">
                      </ng-container>
                      <ng-template #choice2></ng-template>
                      <ng-template #choice1>
                        <ng-container *ngIf="
                            item.menu_var_obj !== undefined;
                            then cond1;
                            else cond2
                          ">
                        </ng-container>
                        <ng-template #cond1>
                          ({{ item.menu_var_obj.variation_name }})
                        </ng-template>
                        <ng-template #cond2>({{ item.variation_name }})</ng-template>
                      </ng-template>
                    </ng-template>
                  </div>
                </span>


                <ng-container *ngIf="
                item.order_detail_choice?.length > 0;
                then loggedIn;
                else loggedOut
              "></ng-container>

                <ng-template #loggedIn>
                  <span class="bold-sm lh-7 p3" *ngFor="let choice of item.order_detail_choice">
                    <li>
                      {{ choice.choice_name }}
                    </li>
                  </span>
                </ng-template>
                <ng-template #loggedOut>
                  <ng-container *ngIf="
                  item.menu_variation_id === null;
                  then choice2;
                  else choice1
                ">
                  </ng-container>
                  <ng-template #choice1>
                    <ng-container *ngIf="
                    item.menu_var_obj !== undefined;
                    then condition1;
                    else condition2
                  ">
                    </ng-container>
                    <ng-template #condition1>
                      <span class="bold-sm lh-7 p3" *ngFor="
                      let choiceGrp of item.menu_var_obj.var_choice_grp
                    ">
                        <li *ngFor="let choice of choiceGrp.choices">
                          {{ choice.choice_name }}
                        </li>
                      </span>
                    </ng-template>
                    <ng-template #condition2></ng-template>
                  </ng-template>
                  <ng-template #choice2></ng-template>
                </ng-template>

                <small class="fs-10 fw-400">Rs. {{ item.price }}</small>
              </div>
            </td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-end">{{ calSubTotal(item) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer bg-transparent">
      <div class="fs-14 fw-500 my-3">
        <div class="d-flex justify-content-between">
          <span>SubTotal</span>
          <span>{{ calSubtotalH() }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Delivery Fee</span>
          <span>{{ deliveryFee }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Tax</span>
          <span>{{ calTax() }}</span>
        </div>
        <div class="d-flex text-success justify-content-between">
          <span> Total</span>
          <span>{{ calTotal() }}</span>
        </div>
      </div>

    </div>
  </div>
</div>