<div class="">
  <div class="card rounded-25 glassEffect1">
    <div
      class="card-header bg-transparent d-flex flex-column justify-content-center align-items-center"
    >
      <div class="">
        <img src="../../../assets/Logo.png" />
      </div>
      <span>1-College Block, Allama Iqbal Town</span>
      <span>Tel # (042) 111 007 000</span>
    </div>
    <div class="card-body">
      <table class="table table-borderless">
        <thead>
          <tr class="fs-16 fw-600">
            <th scope="col">#</th>
            <th scope="col">Items</th>
            <th scope="col" class="text-center">Qyt</th>
            <th class="text-end" scope="col">SubTotal</th>
          </tr>
        </thead>
        <tbody>
          <tr class="fs-14 fw-500">
            <th scope="row">1</th>
            <td>
              <div class="d-flex flex-column">
                <span>FETTUCCINE PASTA WITH PRAWNS</span>
                <small class="fs-10 fw-400">Rs. 440</small>
              </div>
            </td>
            <td class="text-center">1</td>
            <td class="text-end">1400</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer bg-transparent">
      <div class="fs-14 fw-500 my-3">
        <div class="d-flex justify-content-between">
          <span>SubTotal</span>
          <span>1100</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Delivery Fee</span>
          <span>100</span>
        </div>
        <div class="d-flex text-success justify-content-between">
          <span> Total</span>
          <span>1200</span>
        </div>
      </div>
      <div class="d-flex flex-column">
        <button
          class="btn bg-primary2 text-light mb-2 rounded-pill fs-20 fw-400"
        >
          Place Order
        </button>
        <button
          class="btn bg-primary2 opacity-25 rounded-pill text-light fs-20 fw-400"
        >
          Edit Order
        </button>
      </div>
    </div>
  </div>
</div>
