@import '../../../styles/main';



.search {
    position: relative;

}

.search input {
    height: 60px;
    text-indent: 25px;
    background-color: $whiteColor;
    border: 1px solid $whiteColor;
    border-radius: 26px;
    padding-left: 20px;
}


.search input:focus {
    box-shadow: none;
}

.search .fa-search {

    position: absolute;
    font-size: 20px;
    color: $secondaryColor2;
    top: 15px;
    left: 13px;
}


.card {
    padding: 10px;
    border-radius: 25px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6), inset 0px 0px 20px rgba(255, 255, 255, 0.8);

    .card-header {
        border-radius: 25px;
        border: none;

        img {
            border-radius: 25px;
        }
    }

    .imgSize {
        max-height: 375px;
        height: 375px;

    }
}





@mixin banner--lg() {
    .imgSize {
        height: 295px !important;
    }
}

@mixin banner--xs() {


    .card {
        padding: 0px;

        .card-body {
            .menuName {
                font-size: 14px !important;
            }

            .ingridient {
                font-size: 12px !important;
            }

            .priceTag {
                font-size: 10px !important;
            }

            .cartBtn {
                font-size: 12px;
            }
        }
    }


    .imgSize {
        height: 156px !important;
    }
}



@media (max-width: 500px) {
    @include banner--xs();
}

@media (min-width: 1300px) {
    @include banner--lg();
}