<ng-template #cart let-offcanvas id="cart">
  <div class="offcanvas-header border-bottom">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Cart</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body overflow-auto">
    <div class="d-flex justify-content-center align-items-center mb-3">
      <div class="fs-16 fw-400" [ngClass]="orderType ? 'text-secondary2' : 'text-primary2'">
        Delivery
      </div>
      <label class="label mx-2">
        <div class="toggle">
          <input class="toggle-state" type="checkbox" name="check" [checked]="orderType" (change)="changeOrderType()" />
          <div class="indicator"></div>
        </div>
      </label>
      <div class="fs-16 fw-400" [ngClass]="orderType ? 'text-primary2' : 'text-secondary2'">
        Pickup
      </div>
    </div>

    <div *ngFor="let data of cartData; let i = index" class="card mt-2 border-0 rounded-0 ctmCard px-3">
      <div class="row pb-3 align-items-center">
        <div class="col-2 m-0 p-0">
          <img [src]="imgLink  + data.imgUrl" height="54px" width="54px" />
        </div>
        <div class="col-10">
          <div class="row mb-2 align-items-start">
            <div class="col-9 d-flex flex-column">
              <!-- <span class="fs-14 fw-500">{{ data?.menu_name }}</span>
              <span *ngIf="data.menu_ingridient" class="fs-12 fw-400 text-secondary2">{{ data.menu_ingridient }}</span> -->
              <div class="bold-lg lh-6 p2">
                {{ data.menu_name }}
                <ng-container *ngIf="
                    data.order_detail_choice?.length > 0;
                    then showName;
                    else notShowName
                  "></ng-container>
                <ng-template #showName>({{ data.variation_name }})
                </ng-template>
                <ng-template #notShowName>
                  <ng-container *ngIf="
                      data.menu_variation_id === null;
                      then choice2;
                      else choice1
                    ">
                  </ng-container>
                  <ng-template #choice2></ng-template>
                  <ng-template #choice1>
                    <ng-container *ngIf="
                        data.menu_var_obj !== undefined;
                        then cond1;
                        else cond2
                      ">
                    </ng-container>
                    <ng-template #cond1>
                      ({{ data.menu_var_obj.variation_name }})
                    </ng-template>
                    <ng-template #cond2>({{ data.variation_name }})</ng-template>
                  </ng-template>
                </ng-template>
              </div>
            </div>
            <div class="col-3 d-flex justify-content-evenly m-0 p-0 align-items-center text-light">
              <fa-icon class="rounded px-1 bg-primary pointer fs-12" [icon]="removeIcon"
                (click)="decreaseQyt(i)"></fa-icon>
              <div class="text-secondary">{{ data?.quantity }}</div>
              <fa-icon (click)="increaseQyt(i)" class="rounded px-1 bg-primary pointer fs-12"
                [icon]="addIcon">+</fa-icon>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <ng-container *ngIf="
              data.order_detail_choice?.length > 0;
              then loggedIn;
              else loggedOut
            "></ng-container>

              <ng-template #loggedIn>
                <span class="bold-sm lh-7 p3" *ngFor="let choice of data.order_detail_choice">
                  <li>
                    {{ choice.choice_name }}
                  </li>
                </span>
              </ng-template>
              <ng-template #loggedOut>
                <ng-container *ngIf="
                data.menu_variation_id === null;
                then choice2;
                else choice1
              ">
                </ng-container>
                <ng-template #choice1>
                  <ng-container *ngIf="
                  data.menu_var_obj !== undefined;
                  then condition1;
                  else condition2
                ">
                  </ng-container>
                  <ng-template #condition1>
                    <span class="bold-sm lh-7 p3" *ngFor="
                    let choiceGrp of data.menu_var_obj.var_choice_grp
                  ">
                      <li *ngFor="let choice of choiceGrp.choices">
                        {{ choice.choice_name }}
                      </li>
                    </span>
                  </ng-template>
                  <ng-template #condition2></ng-template>
                </ng-template>
                <ng-template #choice2></ng-template>
              </ng-template>

            </div>
            <div class="col-12 d-flex justify-content-between">
              <span class="text-secondary2 fs-12 fw-600">{{
                data?.price
                }}</span>
              <span (click)="removeItem(i)" class="text-primary2 pointer fs-12 fw-400">Remove</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center fs-12 fw-400"></div>
    </div>
  </div>
  <div class="offcanvas-footer dashed-border px-3 py-2">
    <div class="d-flex flex-column my-1">
      <div class="d-flex justify-content-between fs-14 fw-500">
        <span> Total Items</span>
        <span>{{ cartData.length }}</span>
      </div>
      <div class="d-flex justify-content-between fs-14 fw-500">
        <span> SubTotal</span>
        <span>{{ subTotal }}</span>
      </div>
      <div class="d-flex justify-content-between fs-14 fw-500 mb-2">
        <span>Delivery Fee</span>
        <span>Rs. {{ deliveryFee }}</span>
      </div>
      <div class="d-flex justify-content-between fs-14 fw-500 mb-2">
        <span>Tax Amount</span>
        <span>{{ taxAmount }}</span>
      </div>
      <div class="d-flex justify-content-between fs-16 fw-500 mb-1 text-success">
        <span>Total</span>
        <span>{{ total }}</span>
      </div>
      <div class="mx-2">
        <button (click)="placeOrder()"
          class="btn btn-primary w-100 text-light fs-20 fw-600 rounded-pill text-uppercase">
          Go To checkout
        </button>
      </div>
    </div>
  </div>
</ng-template>